:root {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    --box-shadow-color: #737272;
}

html {
    margin: 0;
    height: 100%;
}

body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbdbdb;
}

h1 {
    margin: 0;
    font-size: 60px;
}

.player-container {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 40px;
    justify-items: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 20px;
}

.current-player {
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    border-top: solid black 2px;
    border-left: solid black 2px;
    box-shadow: var(--box-shadow-color) 2px 2px 4px;
}

.grid-container > .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid black 2px;
    border-right: solid black 2px;
    font-size: 80px;
    background-color: #ededed;
}

.game-over-container {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100px;
    width: 600px;
    padding-top: 10px;
    font-size: 24px;
}

.game-over-container > button {
    height: 40px;
    width: 120px;
    font-size: 20px;
    box-shadow: var(--box-shadow-color) 2px 2px 4px;
}